.app, body >.x-container {
     /* Add app styles here */
	display: none;
}

h3 select {
	margin-left: 20px;
	vertical-align: middle;
}

.difference-chart {
	width: 120px;
}

.scores-chart {
	width: 120px;
}
