<div style="display:none;" ng-controller="RootCtrl" id="root">
	
	<div ng-if="progress"><span>Loading: </span><span ng-bind="progress"/></div>
	<h3>
		<span>Movers</span>
		<select ng-model="context.dimension" ng-options="value for value in dimensions"></select>

	</h3>
	
	<table class="table">
		<thead>
			<tr>
				<th>Project Name</th>
				<th>Project Age</th>
				<th>{{context.t0}}</th>
				<th>{{context.t1}}</th>
				<th>% Variation</th>
				<th>Project Scores</th>
				<th>Workspace Delta</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="project in sortedProjects">
				<td><a target="_blank" ng-href="https://rally1.rallydev.com/insight/perform?workspaceoid={{project.workspaceId}}&projectoid={{project.projectId}}&scorecardConfig={{context.scorecard}}">{{project.name}}</a></td>
				<td>{{age(project.CreationDate)}}</td>
				<td>{{project.variation.t0}}</td>
				<td>{{project.variation.t1}}</td>
				<td>{{toFixed(project.variation.percentage)}}</td>
				<td>
					<div class="scores-chart">
						<highchart config="project.scoresChartConfig"></highchart>
					</div>
				</td>
				<td>
					<div class="difference-chart">
						<highchart config="project.differenceChartConfig"></highchart>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
